.logo {
  font-weight: 500;
  font-size: 24px;
  color: #4f46e5;
}

.toolbar {
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  background-color: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.new-project-btn {
  display: block;
  background-color: #4f46e5 !important;
  color: white !important;
  /* padding: 10px 20px; */
  padding: 4px 17px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.profile {
  width: 40px;
  height: 40px;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .new-project-btn {
    display: none;
  }
}