<div class="container">
  <h2>Video Editor</h2>

  <h2>Available Videos</h2>
  <div class="video-list">
    <div *ngFor="let video of videos" class="video-item">
      <video [src]="video" controls></video>
      <button (click)="addToQueue(video)">Add to Merge</button>
      <button (click)="trimVideoBtn(video)">Trim</button>
    </div>
  </div>

  <!-- Trim Video Controls (only shown when a video is selected) -->
  <div *ngIf="selectedVideoUrl" class="trim-controls">
    <h3>Trim Video</h3>
    <video [src]="selectedVideoUrl" controls></video>

    <div class="trim-inputs-container">
      <label>Start Time (sec):</label>
      <input type="number" #startTime min="0" />
  
      <label>End Time (sec):</label>
      <input type="number" #endTime min="0" />
    </div>

    <button (click)="trimVideo(+startTime.value, +endTime.value)">
      Trim Video
    </button>
  </div>

  <!-- Selected Videos for Merging -->
  <div class="merging-queue">
    <h3>Merging Queue</h3>
    <div *ngIf="selectedVideos.length > 0" class="selected-video-list">
      <div class="video-container">
        <video
          *ngFor="let video of selectedVideos"
          [src]="getVideoUrl(video)"
          controls
        ></video>
      </div>
    </div>
  
    <button *ngIf="selectedVideos.length > 1" (click)="mergeVideos()">
      Merge Videos
    </button>
  </div>

  <!-- Processed Video Preview -->
  <div *ngIf="trimmedVideoUrl || mergedVideoUrl" class="processed-video">
    <h3>Processed Video</h3>
    <video
      #processedVideoPlayer
      [src]="mergedVideoUrl || trimmedVideoUrl"
      controls
    ></video>
    <div class="download-link-btn">
      <a [href]="mergedVideoUrl || trimmedVideoUrl" download="output.mp4"
        >Download Video</a
      >
    </div>
  </div>

  <!-- Status Message -->
  <p class="message">{{ message }}</p>
</div>
