/* General Container Styling */
.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Title Styling */
h2, h3 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

.trim-inputs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Video List Styling */
.video-list {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px;
  scroll-behavior: smooth;
  background: white;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.video-item {
  flex: 0 0 auto;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-item video {
  width: 100%;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background-color: #4C43DC;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #4e46c9;
}

/* Trim Controls */
.trim-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.trim-controls video {
  width: 90%;
  border-radius: 5px;
}

.trim-controls button {
  width: 50%;
}

input[type="number"] {
  width: 48%;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Merging Queue */
.merging-queue {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Processed Video */
.processed-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.processed-video video {
  width: 70%;
  border-radius: 8px;
}

.download-link-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
}

.download-link-btn:hover {
  background-color: #218838;
}

.download-link-btn a {
  text-decoration: none;
  color: white !important;
}

.selected-video-list {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  gap: 20px !important;
}

.selected-video-list video {
  width: 200px;
  border-radius: 5px;
  margin: 10px;
  overflow-x: auto;
}

.message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .trim-controls {
    padding: 15px 6px;
  }

  .selected-video-list {
    overflow: scroll;
  }
}