app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  height: calc(100vh - 64px);
  margin-top: 64px;
  display: flex;
}

.sidenav {
  background-color: #ffffff;
  color: white;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f3f4f6;
}

@media (max-width: 768px) {
  .sidenav {
    width: 230px;
  }

  .container {
    flex-direction: column;
    margin-top: 57px;
  }
}
