
<!-- If NOT on editor page, show sidebar and main layout -->
<ng-container *ngIf="!isEditorPage">
  <!-- Top Navbar (Always Visible) -->
  <app-navbar (sidebarToggle)="toggleSidebar()"></app-navbar>
  <mat-sidenav-container class="container">
    <!-- Sidebar -->
    <mat-sidenav #sidenav [mode]="mode" [(opened)]="isSidebarOpen" class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="main-content">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<!-- If on editor page, show only the content -->
<ng-container *ngIf="isEditorPage">
  <router-outlet></router-outlet>
</ng-container>





<!-- <app-navbar (sidebarToggle)="toggleSidebar()"></app-navbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [mode]="mode" [(opened)]="isSidebarOpen" class="sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <div class="content">
      <app-main-content></app-main-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

